<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{"/assets/css/core.css" | relative_url}}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{{"/assets/css/main.css" | relative_url }}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{{"/assets/css/source.css" | relative_url}}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{{ "/assets/css/gallery.css" | relative_url }}" type="text/css" charset="utf-8">
</head>
